openapi: 3.2.0
info:
  title: Storyblok Management Components API
  description: The Storyblok Management API is a REST API that allows developers to programmatically create, read, update, and delete content and configuration within a Storyblok space. It supports managing stories, components, assets, datasources, collaborators, webhooks, and space settings. The API uses OAuth or personal access tokens for authentication and is suitable for building editorial tooling, content migration scripts, CI/CD pipelines, and automated publishing workflows. All write operations are scoped to individual spaces and respect role-based access control.
  version: '1'
  contact:
    name: Storyblok Support
    url: https://www.storyblok.com/contact
  termsOfService: https://www.storyblok.com/legal/terms-of-service
servers:
- url: https://mapi.storyblok.com/v1
  description: Management API Production Server
security:
- personalAccessToken: []
- oauthToken: []
tags:
- name: Components
  description: Components define the schema and field structure for story content. This includes managing component definitions, field types, and component groups.
paths:
  /spaces/{space_id}/components:
    get:
      operationId: listComponents
      summary: List components in a space
      description: Returns all component definitions for the space. Components define the content schema used by stories, including field names, types, and validation rules.
      tags:
      - Components
      parameters:
      - $ref: '#/components/parameters/SpaceId'
      - name: search
        in: query
        description: Filter components by name using a partial text match.
        required: false
        schema:
          type: string
      - name: in_groups
        in: query
        description: Comma-separated list of component group UUIDs to filter components by their assigned group.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of component definitions was returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  components:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createComponent
      summary: Create a component
      description: Creates a new component definition in the space. The component schema specifies the field definitions that will be available to stories using this component.
      tags:
      - Components
      parameters:
      - $ref: '#/components/parameters/SpaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - component
              properties:
                component:
                  $ref: '#/components/schemas/ComponentInput'
      responses:
        '201':
          description: The component was created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  component:
                    $ref: '#/components/schemas/Component'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /spaces/{space_id}/components/{component_id}:
    get:
      operationId: getComponent
      summary: Retrieve a single component
      description: Returns the full schema definition of a single component by its numeric ID, including all field definitions and their configuration.
      tags:
      - Components
      parameters:
      - $ref: '#/components/parameters/SpaceId'
      - $ref: '#/components/parameters/ComponentId'
      responses:
        '200':
          description: The component was returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  component:
                    $ref: '#/components/schemas/Component'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateComponent
      summary: Update a component
      description: Updates an existing component definition. Changes to the schema affect all stories that use this component.
      tags:
      - Components
      parameters:
      - $ref: '#/components/parameters/SpaceId'
      - $ref: '#/components/parameters/ComponentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - component
              properties:
                component:
                  $ref: '#/components/schemas/ComponentInput'
      responses:
        '200':
          description: The component was updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  component:
                    $ref: '#/components/schemas/Component'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteComponent
      summary: Delete a component
      description: Deletes a component definition from the space. Stories that reference this component will retain their existing content but the schema validation will no longer apply.
      tags:
      - Components
      parameters:
      - $ref: '#/components/parameters/SpaceId'
      - $ref: '#/components/parameters/ComponentId'
      responses:
        '200':
          description: The component was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    ComponentId:
      name: component_id
      in: path
      description: Numeric ID of the component.
      required: true
      schema:
        type: integer
      example: 11111
    SpaceId:
      name: space_id
      in: path
      description: Numeric ID of the Storyblok space.
      required: true
      schema:
        type: integer
      example: 12345
  responses:
    Unauthorized:
      description: Authentication failed. Verify the Authorization header contains a valid personal access token or OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: The request body contained validation errors. Check the error message for details on which fields failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Error response returned when an API request fails.
      properties:
        error:
          type: string
          description: Human-readable message describing the error.
    ComponentInput:
      type: object
      description: Input object for creating or updating a component definition.
      required:
      - name
      - schema
      properties:
        name:
          type: string
          description: Technical name identifier for the component.
        display_name:
          type: string
          description: Optional human-readable display name.
        schema:
          type: object
          description: Field definitions map.
          additionalProperties:
            type: object
            additionalProperties: true
        is_root:
          type: boolean
          description: Set to true to allow this component as a story root.
        is_nestable:
          type: boolean
          description: Set to true to allow nesting inside other components.
        component_group_uuid:
          type: string
          format: uuid
          description: UUID of the component group to assign this component to.
    Component:
      type: object
      description: A component definition specifying the content schema for a story type, including all field definitions and their validation rules.
      properties:
        id:
          type: integer
          description: Unique numeric identifier of the component.
        name:
          type: string
          description: Display name and technical identifier of the component.
        display_name:
          type: string
          nullable: true
          description: Optional human-readable display name overriding the technical name.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp.
        updated_at:
          type: string
          format: date-time
          description: Last modification timestamp.
        schema:
          type: object
          description: Map of field names to field definition objects. Each field definition includes a type and optional validation configuration.
          additionalProperties:
            type: object
            additionalProperties: true
        is_root:
          type: boolean
          description: True if this component can be used as the root of a story.
        is_nestable:
          type: boolean
          description: True if this component can be nested inside other components.
        component_group_uuid:
          type: string
          format: uuid
          nullable: true
          description: UUID of the component group this component belongs to.
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      description: Personal access token generated in the Storyblok account settings. Provides access to all spaces the account has permissions for.
    oauthToken:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for third-party application integrations. Scoped to specific spaces and permissions granted during authorization.
externalDocs:
  description: Storyblok Management API Documentation
  url: https://www.storyblok.com/docs/api/management
